**/build
**/buildclang
**/buildgcc
**/CMakeFiles
**/cov_inter
**/coverity_idir
**/coverity-idir
**/.vs
*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/.generated_files
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/.history